<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%=4+4%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt id ullam dolore, delectus animi voluptas
        corrupti! Eligendi quia quibusdam temporibus consectetur, esse amet, accusantium placeat, tempore tenetur
        suscipit ut nesciunt.</p>
</body>

</html>